{% extends 'core/base.html' %}
{% block  content%}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            I'am here to help and answers any questions you might have.
            <br>Reach out to me and I'll respond as soon as I can. <i class="fas fa-smile-wink fa-1x text-warning"></i>  
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name</label>
                        <input type="text" class="form-control" id="inputName" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email *</label>
                        <input type="email" class="form-control" id="inputEmail" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSubject">Your Subject</label>
                    <input type="text" class="form-control" id="inputSubject" />
                </div>
                <div class="mb-3">
                    <label for="inputTextarea">Your Message *</label>
                    <textarea class="form-control" id="inputTextarea" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">SUBMIT</button>
            </form>
        </div>
        <div class="col-sm-3 text-center mb-5">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marked-alt fa-2x location-color"></i>
                    <p> Pune, Maharashtra, India</p>
                </li>
                <li>
                    <i class="fas fa-mobile-alt fa-2x mobile-color"></i>
                    <p> +91 9975275901</p>
                </li>
                <li>
                    <i class="fas fa-envelope fa-2x email-color"></i>
                    <p>rohitsonwane21@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="https://twitter.com/ROHITSO65956292/" target="_blank"><i class="fab fa-twitter fa-fw fa-lg"></i></a>
    <a href="https://instagram.com/rohit__r.s?igshid=bmtbago9vc3m" target="_blank"><i class="fab fa-instagram fa-lg fa-fw text-danger"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-lg fa-fw text-white"></i></a>
</div>
{% endblock content%}